# 全局配置
global:
  namespace: todo

# Backend 配置
backend:
  replicaCount: 2
  image:
    repository: jerrybaijy/todo-fullstack-backend
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5000
  env:
    SECRET_KEY: your_secret_key_here
    MYSQL_HOST: "35.220.229.85" # Cloud SQL 实例的公共 IP 地址
    MYSQL_PORT: "3306"          # MySQL 端口
    MYSQL_DATABASE: "todo_db"   # 数据库名称
    MYSQL_USER: "jerry"         # 数据库用户名
    MYSQL_PASSWORD: "000000"    # 数据库密码

# Frontend 配置
frontend:
  replicaCount: 2
  image:
    repository: jerrybaijy/todo-fullstack-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: LoadBalancer
    port: 80