# 全局配置
global:
  namespace: todo
  serviceAccountName: "todo-k8s-sa"

gcp:
  projectId: "project-60addf72-be9c-4c26-8db"
  region: "asia-east2"
  sqlInstanceName: "todo-db-instance"
  sqlProxySaEmail: "sql-proxy-sa@project-60addf72-be9c-4c26-8db.iam.gserviceaccount.com"

# Backend 配置
backend:
  replicaCount: 2
  image:
    repository: jerrybaijy/todo-fullstack-backend
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5000
  env:
    SECRET_KEY: your_secret_key_here
    # 由于 Cloud SQL 实例已配置 Cloud SQL Auth Proxy，
    # 因此数据库主机地址指向本地回环地址和默认端
    DB_HOST: "127.0.0.1"        # 本地回环地址
    MYSQL_PORT: "3306"          # MySQL 端口
    MYSQL_DATABASE: "todo_db"   # 数据库名称
    MYSQL_USER: "jerry"         # 数据库用户名
    MYSQL_PASSWORD: "000000"    # 数据库密码

# Frontend 配置
frontend:
  replicaCount: 2
  image:
    repository: jerrybaijy/todo-fullstack-frontend
    tag: latest
    pullPolicy: Always
  service:
    type: LoadBalancer
    port: 80